.td-score{
    width: 35px;
    text-align: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid;
}

.td-player{
    text-align: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid;

}

.th-score{
text-align: center;}
