/* 
This is styling for the Courses app. Anyt styling for the form is actually in forms.py as widgets for each field
*/

.col {
    padding: 0%;
}

#course_id{
    padding-bottom: 1em;
}

#details_row{
    padding-bottom: 1em;
}
#hole_nums{
    padding-top: 1em;
}

#course_submit {
    padding-top: 1em;;
}

#hole_nums {
    border-bottom: 1px solid #aaa;
}

.fa-solid .fa-plus {
    font-family: 'sarif';

}