#index_img{
    /* height: 200px; */
    width: 75%;
    border-radius: 8px;
}

body {background-color: #F5F5F5;}

#page_header{
    border-bottom:4px solid black;
    width: 100%;
}

#third_column{
    vertical-align: text-top;
}
