packages:
  yum:
    amazon-linux-extras: []
    python3-devel: []
    jq: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql13
    02_postgres_install:
        command: sudo yum install -y postgresql-devel
    03_env_config:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local

container_commands:
    01_migrations:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations GolfRound"
        command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations accounts"
        command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations Courses"
        command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations golf_trip"
        command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations bookie"
        command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations"
        leader_only: true
    02_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
        leader_only: true

    03_loaddata:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata dump_files/accounts_dump.yaml"
        command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata dump_files/courses_dump.yaml"
        command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata dump_files/golf_trip_dump.yaml"
        command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata dump_files/golfround_dump.yaml"
        leader_only: true 

    04_collectstatic:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    05_createsu:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
