{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 style='text-align: center; padding-bottom: 15px;'>Course List</h1>
<div class="container">
<div class="row gx-5">
  <div class="accordion" id="accordionExample">
    {% for course in golf_course_list %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="course{{course.id}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{course.id}}" aria-expanded="false" aria-controls="collapse{{course.id}}">
          {{course.course_name}}
        </button>
      </h2>
      
          <div id="collapse{{course.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{course.id}}" data-bs-parent="#accordionExample">
         
            <div class="accordion-body">
              <table class="table table-striped course-table">
              <thead>
                <tr>
                  <th scope="col">Tee Name</th>
                  <th scope="col">Yardage</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Slope</th>
                </tr>
              </thead>
              {% for tee in tees %}
              {% if tee.course|stringformat:"s" == course.course_name|stringformat:"s" %}
                <tr>
                  <td>{{tee.tee_name}} </td>
                  <td>{{tee.yardage}} </td>
                  <td>{{tee.rating}}</td>
                  <td>{{tee.slope}}</td>
                </tr>
              {% endif %}
              {% endfor %}
            </table>
            </div>
          </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>



{% endblock %}
















    {% comment %} <div class="accordion" id="courseaccordion">
        <div class="accordion-item">
          {% for course in golf_course_list %}
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{course.course_name}}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% for tee in tees %}
                {% if tee.course|stringformat:"s" == course.course_name|stringformat:"s" %}
                <h1><a href="#">{{tee.tee_name}} | Rating:{{tee.rating}} | Slope:{{tee.slope}} | Yardage:{{tee.yardage}}</a></h1>
                {% endif %}
              
            </div>
          </div>
        </div>
          {% endfor %}
        </div>
      </div>
{% endfor %}
         <div class="course">
            <h1><a href="{% url 'courses:golf_course_detail' pk=course.pk %}">{{ course.course_name }}</a></h1>
        </div> 



 <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
  <div class="accordian-body">
  {% for tee in tees %}
    
    {% if tee.course|stringformat:"s" == course.course_name|stringformat:"s" %}
    <h1><a href="#">{{tee.tee_name}} | Rating:{{tee.rating}} | Slope:{{tee.slope}} | Yardage:{{tee.yardage}}</a></h1>
  </div>
    {% endif %}
  
  {% endfor %}  {% endcomment %}