{% extends "base.html" %}
{% block content %}

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
</head>

<div class="centerstage">
    <button class="btn" style="float:right" title="Add Tee"><a href="{% url 'courses:tee_new' %}"><i class="fa-solid fa-plus" >Add Tee</i></a></button>


    <h1> {{golf_course.course_name}} </h1> 
    <ul>
        {% for golf_tee in golf_course.golf_tees.all %}

            <div class="tee">
                <h1><a href="{% url 'courses:golf_tee_detail' pk=golf_tee.pk %}">{{golf_tee.tee_name}} | Rating:{{golf_tee.rating}} | Slope:{{golf_tee.slope}} | Yardage:{{golf_tee.yardage}}</a></h1>
            </div>
            {% comment %} Name :{{golf_tee.tee_name}} - Rating:{{golf_tee.rating}} - Slope:{{golf_tee.slope}} - Yardage:{{golf_tee.yardage}} {% endcomment %}
        {% endfor %}
    </ul>

{% endblock %}