{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container'>
    <h1 style='text-align: center; padding-bottom: 15px;'>Tee Time Schedule</h1>
<div class="row gx-5">
    
        {% for teetime in trip_teetime_list %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{teetime.tee_time_time}}<span style="float: right" class="fa-solid fa-circle-exclamation" data-toggle="popover" data-bs-html="true" title="Tee Time Details" 
                                                                            data-bs-content="Course: {{ teetime.tee.course.course_name}}<br/>
                                                                                            Tee: <a href='{% url 'courses:golf_tee_detail' pk=teetime.tee.pk %}' class='card-link'>{{teetime.tee.tee_name}}</a><br/>
                                                                                            Format: {{teetime.gametype}}"></span>
                    </h5> 
                    {% if not teetime.Players.all %}
                        <p class="card-text">No players assigned </p> 
                    {% else %}
                        {% for players in teetime.Players.all  %}
                            <p class="card-text player-text">Player #{{forloop.counter}}: {{ players.golfer.first_name}} {{ players.golfer.last_name}}</p>
                        {% endfor %}
                    {% endif %}

                    {% if teetime.teeTime_Complete is True %}
                        <a></a>
                    {% else %}
                        <a class="btn btn-success btn-sm" href="{% url 'round:round_submit' teetime_pk=teetime.pk %}" class="card-link">Enter Score  <i class="fa-solid fa-pencil"></i></a>  
                        <a style="float: right;" class="btn btn-primary btn-sm" href="{% url 'bookie:bet_teetime' teetime_pk=teetime.pk %}" class="card-link"> Place Bet <i class="fa-solid fa-coins fa-xl"></i></a>
                    {% endif %}

                    {% if teetime.teeTime_Complete is True %}
                    <a class="btn btn-success btn-sm" href="{% url 'round:completed_round' pk=teetime.pk %}" class="card-link" style="padding-right:15px">View Card <i class="fa-solid fa-binoculars"></i></a>
                    <button style="float: right; padding-left:15px"class="btn btn-danger btn-sm">Closed <i class="fa-solid fa-coins fa-xl"></i>
                    {% else %}
                        <a></a>
                    {% endif %}       
                </div>
            </div>
        {% endfor %}
    </div>

    
    <a class="btn btn-primary" style="margin-top:75px; " onClick="javascript:history.go(-1);" role="button">Back</a>


{% endblock %}



