{% extends "base.html" %}
{% block content %}

{% load static %}




<html>
  <head>
    <title>Golf Trip Manager</title>
    <link rel="stylesheet" href="{% static 'css/overall_css.css' %}">
  </head>

{% block bodyblock %}

<div class="text-center" id="page_header">
  <h1>Golf Trip 2023!</h1>
  <img  id="index_img" src="{% static 'Tree_Tops_Portrait.jpg' %}" alt="My image">
</div>
<div class="text-center">
  <div class="row align-items-top">
    <div class="col">
      <h3>Players</h3>
      {% for golfer in golfers%}
      <div class="container">
          <div class="row">
            <div class="col">
              <ul class="list-group">{{golfer.golfer.first_name}}</ul>
            </div>
            <div class="col">
              <ul class="list-group">{{golfer.golfer.last_name}}<ul>
            </div>
            <div class="col">
              <ul class="list-group">{{golfer.golfer.hcp_index}}</ul>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
    <div class="col" id=second_column>
      <h3>Trip Details</h3>
      <div class="container">
        {% for event in trip_events  %}
        <ul class="list-group">{{event.tee_time}} - {{event.course.course}}</ul>
        {% endfor %}
      </div>

    </div>
    <div class="col" id=third_column>
      <h3>Course Information<h3>
      <ul class="list-group"><a href="https://arcadiabluffs.com/">Arcadia Bluffs</a></ul>
      <ul class="list-group"><a href='https://www.treetops.com/golf/'>Treetops</a></ul>
    </div>
  </div>
</div>

{% endblock bodyblock %}



{% endblock %}