{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Trip Schedule</h1>

<div class="row gx-5">
{% for event in trip_event_list %}
   
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <div class="card-body p-4">
                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">{{event.tee_time}}</h5></a>
                    <p class="card-text mb-0">{{event.course.course}}</p>
                </div>
                
            </div>
        </div>        
{% endfor %}


{% endblock  %}