{% extends 'base.html' %}
{% load static %}

{% block content %}


<h1>Player List</h1>

<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handicap</th>
        </tr>
    </thead>
        <tbody>
            {% for golfer in trip_golfer_list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                    <td>{{golfer.golfer.first_name}}</td>
                    <td>{{golfer.golfer.last_name}}</td>
                    <td>{{golfer.hcp_index}}</td>
            </tr>
            {% empty %}
            <img class="img-fluid rounded mb-4 mb-lg-0" src="static 'Lost-Golf-Balls-Feature-Image.webp" alt="..." />
            {% endfor %}
      </tbody>
  </table>

{% endblock  %}

