{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 style='text-align: center; padding-bottom: 15px;'>Trip Schedule</h1>
<div class="row gx-5">
{% for event in trip_event_list %}
   
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0 my-card" >
                <div class="card-body p-4">
                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">{{event.event_time}}</h5></a>
                    <p class="card-text mb-0"></p>
                </div>
                 
            </div>
        </div>        
{% endfor %}

{% for course in courses %}
        {{course.course.course_name}}
{% endfor %}


{% endblock  %}