{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}



<head>
    <style>input {max-width:5em}</style>
</head>



    <div class="container" id="form-container" >
        
            <div class="container">
                <div class="row gx-5 align-items-center" id=BetBottomLine>
                    <div class="col-lg-6">
                        <h1 class="fw-bolder mb-3" style="text-align:center">{{team_1}}</h1>   
                            <ul class="list-group">
                                {% for player in team_1_players  %}
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        {{player.golfer.first_name}} {{player.golfer.last_name}}<span class="badge bg-danger rounded-pill">HCP {{player.hcp_index}}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                    </div>
                    <div class="col-lg-6">
                        <h1 class="fw-bolder mb-3" style="text-align:center">{{team_2}}</h1>
                        <ul class="list-group">
                            {% for player in team_2_players  %}
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    {{player.golfer.first_name}} {{player.golfer.last_name}}<span class="badge bg-primary rounded-pill">HCP {{player.hcp_index}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

    <form method="POST" class="row g-3" enctype="multipart/form-data">

        <div class="row" style="padding-top:50px">
        <h1 style="text-align:center">Place Bets</h1>
        <div class="col" style="text-align:center">
            <h4>{{form.submitter.label_tag}}</h4>
            {{form.submitter}}
        </div>
        <div class="col" style="text-align:center">
            <h4>{{form.opponent.label_tag}}</h4>
            {{form.opponent}}
        </div>
      </div>
        {% comment %} {% csrf_token %}
        
        <div class="col-md-6" style="padding-top:50px">
            {{form.submitter.label_tag}}
            {{form.submitter}}
        <div>
        <div class="col-md-6">
        {{form.opponent.label_tag}}
            {{form.opponent}}
        </div>
                {{form.bet_type|as_crispy_field}}
                <label class="form-label">Wager </label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    {{form.units}}
                </div>
            </div> {% endcomment %}
    </form>
</div>
<input class="btn btn-primary" type="submit" value="Submit"> <a class="btn btn-danger"onClick="javascript:history.go(-1);" role="button">Back</a>

{% endblock %}